<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>初始界面</title>

    <style>
        div#authorization_box {
            position: fixed;
            z-index: 9999;
            font-size: 30px;
            top: 50%;
            left: 50%;
            width: 550px; /* 按需改变数值 */
            height: 150px; /* 按需改变数值 */
            margin-top: -75px; /* height数值的一半 */
            margin-left: -200px; /* width数值的一半 */
        }
    </style>

    <script>
        function ClickCIS() {
            alert("send message to TestMaster to acquire the running information of CIS");
        }
    </script>

</head>
<body>

<div id="authorization_box">
    <ul>
        <li><a href="{% url 'test1:test1connect' %}">{{ page1 }} == connect.html + buildbranch.html + machines.html</a></li>
        <br />
        <li><a href="{% url 'test1:test1machinesCIS' %}" name="from_index" onclick="ClickCIS()">{{ page2 }} == machinesCIS</a></li>

        <p>test 后期删除</p>
        <li><a href="{% url 'test1:test1build' %}"> buildbranch</a></li>
        <li><a href="{% url 'test1:test1machines' %}">machines</a></li>
    </ul>
</div>

{#<button onclick="ClickCIS()">click me</button>#}

</body>
</html>